{% extends "baseClient.html.twig" %}
{% block title %}
    EasyFood | Mon Profil
{% endblock %}

{% block body %}
    <div style="margin-top: 100px; background-color: #ed8185; color:white; padding: 20px; border-radius: 3rem 0 3rem 0;" class="container text-center">    
        <div class="row align-items-center">
            <div class="col">
                <h1><b> Vouluz vous reelement supprimer votre compte?</b></h1> 
                
                <br><br>
                
                <button class="btn btn-lg btn-danger "><a href="{{ path("delete_go_ahead") }}" style="color:#fff;">Oui</a></button>
                <button class="btn btn-lg btn-primary "><a href="{{ path("home_client") }}" style="color:#fff;">Non</a></button>
                <br>
                  &nbsp
            </div>
        </div>
    </div>
{% endblock %}