{% extends "baseClient.html.twig" %}
{% block title %}
    EasyFood | Client
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 5rem" >
        <div class="row align-items-center">
            <div class="col">
                <div id="carouselHome" class="carousel slide slideHome">
                    <div class="carousel-inner">
                        {% for i in 0..lesPlats|length - 1 %}
                            <div class="carousel-item {%if i==0%}active{%endif%}">
                                <img height="700rem" src="{{ app.request.basePath }}/../public/element/plat/{{ lesPlats[i].photoPlat }}" class="d-block w-100" alt="{{ lesPlats[i].nomPlat }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>{{ lesPlats[i].nomPlat }}
                                  <button class="buttonCommandeHome">Commander</button>
                                  </h3>
                                </div>
                            </div>     
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                 </div>
            </div>
        </div>
{% endblock %}